html{
    box-sizing: border-box;
  }
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }

h1, h2, h3, p,  ul{ 
    margin: 0;
    padding: 0;
  }
 
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: o;
    margin-bottom: o;
  
  } 

ul {
   list-style: none;
   text-decoration: none;
   padding: 0;
   margin: 0;
} 