

/* шрифты */
   @import './_fonts.css';
/* зминни  */
   @import './_variables.css';
   /* зброс стылив*/
   @import './_normalaise.css';

  
 body{
  margin: 0;
  background-color: var(--logo-footer-color);
  color: var(--primary-text-color);
      
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 14;
   }

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
/* 
  border: 2px dashed #2a2a2a; */
}


/* --------------------------------------------------------------------- */
/*                        ШАПКА----ЛОГОТИП-КЛАС-СПАМ                    */
.header{
background-color: var(--background-section);
padding-top: 24px;
padding-bottom: 24px;
}
.logo-studio{
color: var(--logo-black-);
font-family: 'Raleway';
}
.logo {
font-family: 'Raleway';
font-style: normal;
color: var(--logo-color);
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}
 
/*                               шапка-----навигация                    */

.navigation-menu{
list-style: none;  
display:inline-block;
}
.navigation-list{
display: inline-block;
}
.navigation-list:not(:last-child){
  margin-right: 50px;
}

.navigation-link {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-text);
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--hover-color);
}
 /*                               шапка контакты                       */
.connection-menu{
    list-style: none;

}
.connection-link{
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--connection-color);
}
.connection-link:hover,
.connection-link:focus{
color: var(--hover-color);
}
/* --------------------------------=====-------------------------------- */
/*                                герой заголовок h1                     */
.hero{
display: block;
padding: 200px 0;
background-image: url(../images/Img\ hero.jpg);
background-repeat:no-repeat;
background-size: cover;
background-position: center;
/* background-repeat:no-repeat;xnj ,что бы не повторялась картинка */
}
.hero-title{ 
max-width: 1600px;
width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
margin: 0 auto 30px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--hero-color-title);
 } 
 /*                          кнопка в герой                       */
.hero-button {
display: inline-block;
font-weight: 700;
font-size: 16px;
min-width: 136px;
line-height: 1.87;
text-align: center;
padding: 10px 32px;
letter-spacing: 0.06em;
background-color: var(--button-color);
color: var(--color-text-wait);
border-radius: 4px;
border: none;


} 


/* ------------------------------------------------------------------------ */
/*              секция benefits(приймучества) benefits-list li              */
.benefits{
padding: 94px 0;
background-color:var(--background-section);

}

 /* .benefits-menu{
 display: flex; 
}  */
.benefits-list{
 list-style: none;
 width: 270px;
}
/*               секция benefits(приймучества)  заголовок h3              */
.benefits-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px;
}
/*                секция benefits(приймучества) абзац p                    */

.benefits-description{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-p);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0; 
  
}
/* чем занимаемся */
/* ------------------------------------------------------------------------*/


.work{
 background-color: var(--background-section);
 padding-top:94px;
 padding-bottom: 94px;

}

.work-title{
 margin: 0 0 50px;
 font-weight: 700;
 font-size: 36px;
 line-height: 1.17;
 text-align: center;
  }



/*                секция work (робота)  work-list                     */
.work-list{
list-style: none;
border: 1px solid tomato;
}
.work-list+ .work-list{
  margin-top: 30px;
}


/*                   секция work (робота)  work-list h2 Чем мы занимаемся   */

/* -------------------------------------------------------------------------*/
/*                 секция team (команда) h2 Наша команда                    */
.team{
   background-color: var(--background-secyion-team);
   padding: 94px 0;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
/*                    секция team (команда) team-menu ul                   */
.team-menu{
    list-style: none;
}
.team-list+ .team-list{
  margin-top: 30px;

}
.team-list{
  border: 1px solid crimson;
}
bo

/*                    секция team (команда) h3                             */
.team-our{
font-weight: 500;
font-size: 16px;
line-height: 1.19;

letter-spacing: 0.03em;
}
/*                      секция team (команда) team-speciality p             */
.team-speciality{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-p);
}
/* ------------------------------------------------------------------------ */
/*                        секция футер(подвал) footer-logo"              */
.footer{
padding-top: 60px;
padding-bottom: 60px;
background-color: var(--logo-black-);
} 
.footer-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--logo-wait);
text-decoration: none;
}
/*                        секция футер(подвал) logo-web               */
.logo-web{
 color: var(--logo-color);
}
/*                        секция футер(подвал) address-menu ul         */
.address-menu{
    list-style: none;
}
/*                        секция футер(подвал) address a              */
.address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text-wait);
    text-decoration: none;
}
   /*                 секция футер(подвал) contact-menu ul             */
.contact-menu{
    list-style: none;
}
/*                 секция футер(подвал) contact-link      a            */
.contact-link{
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-contact-color);
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* ---------------------------------------------------------------------- */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*                               PORTFOLIO                                */
.portfolio{
  background-color:var(--background-section);
}

/*                секция  portfolio(портфолио) portfolio-list li         */
.portfolio-list{
 list-style: none;
 border: 2px dashed #2a2a2a;
}
.portfolio-list+ .portfolio-list{
margin-top: 8px;
}
/*               секция  portfolio(портфолио) prtfolio-button КНОПКА         */
.portfolio-button{
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
}
.portfolio-button:hover,
.portfolio-button:focus{
background-color: var(--hover-color);
color: var(--color-text-wait);
}
/*                          cards-menu       ul                        */
.cards-menu{
    list-style: none
}
.cards-list{
  border: 2px dashed crimson;
}
.cards-img{
  margin-bottom: 20px;
}
.cards-list+ .cards-list{
  margin-top: 30px;
}
/*                         cards-title      h2                                   */
.cards-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    border: 2px dashed cyan;
    margin-bottom: 4px;
}
/*                           cards-work      p                       */
.cards-work{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--color-p);  
    border: 2px dashed #2a2a2a;
}
