.benefits{
    background-color:var(--background-section);
    }
    
    .benefits-menu{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    } 
    .benefits-list{
     list-style: none;
     width: 270px;
    }
    /* .benefits-list:not(:last-child){
    margin-right: 30px;
    } */
    /*секция benefits(приймучества)  заголовок h3     */
    .benefits-title{

      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    
    }
    /*    секция benefits(приймучества) абзац p  */
    .benefits-description{
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      color: var(--color-p);
      letter-spacing: 0.03em;
      margin-top: 0;
      margin-bottom: 0; 
    
      
    }