.portfolio{
    background-color:var(--background-section);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  /*                секция  portfolio(портфолио) portfolio-list li         */
  .portfolio-menu{
    display: flex;
    text-align: center;
    justify-content: center;
  
    margin-bottom: 50px;
  
  }
  .portfolio-list{
   list-style: none;
  /* margin-left: auto; */
  }
  .portfolio-list:not(:last-child){
    margin-right: 8px;
  }
  /*               секция  portfolio(портфолио) prtfolio-button КНОПКА         */
  .portfolio-button{
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  }
  .portfolio-button:hover,
  .portfolio-button:focus{
  background-color: var(--hover-color);
  color: var(--color-text-wait);
  }
  /*                          cards-menu       ul                        */
  .cards-menu{
      list-style: none;
      display: flex;
      flex-wrap: wrap; 
  }
  .cards-list{
  margin-right: 30px;
  margin-bottom: 30px;
  }
  .cards-list:nth-child(3n){
    margin-right: 0;
  }
  .cards-list:nth-last-child(-n +3){
    margin-bottom: 0;
  }
  /* .cards-list{
  width: calc((100% - 60px) /3);
  margin-right: 30px;
  outline: 1px solid tomato;
  }
  .cards-list:nth-child(3n){
    margin-right: 0;
  } 
  .cards-list:not(:nth-last-child(-n +3)){
    margin-bottom: 30px;
  }  */
  /*                         cards-title      h2                                   */
  .cards-title{
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      margin-top: 20px;
      
  }
  /*                           cards-work      p                       */
  .cards-work{
      font-weight: 400;
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.03em;
      color: var(--color-p); 
      margin-top: 4px;
  }